.item {
  color: white;
  background-color: rgb(61, 61, 61);

  padding: 10px;
  margin: 10px;
}

.part1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  padding: 5px;
}

.product-name {
  font-size: 24px;
  font-weight: bold;
}

.price {
  font-size: 22px;
  font-weight: bold;
}

.part2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  padding: 5px;
}

.item-quantity {
  font-size: 20px;
  font-weight: bold;
}

.actions {
  text-align: right;
  /* border: 1px solid green; */
  width: 25%;
}

.button {
  width: 40%;
  border: 1px solid white;
  border-radius: 5px;
  color: white;
  background-color: rgb(61, 61, 61);

  padding: 5px;
  margin: 5px;

  cursor: pointer;
}

.button:hover {
  background-color: white;
  color: black;
  border-color: black;
}

.button:active {
  background-color: lightgray;
}
